	<!-- header start -->
		<header>
			<div class="header-area header-sticky">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-xs-12 logo-box">
							<div class="logo">
                <a href="/">TechNews<span>.</span></a>
                <!-- <img src="img/logo.png" alt=""> -->
							</div>
						</div>
						<div class="col-md-9 col-xs-12 nav-content">
							<div class="main-menu mean-menu  text-right main-menu-shadow">
								<nav>
									<ul class="menu">
										{{!-- <li ><a href="/">HOME</a> --}}
                    <li ><a class="text-info" href="/dashboard">Dashboard</a>
										</li>
		
										{{#each navCategories}}
                            <li class="
                              {{#if childCategories}}
                                angel-down
                              {{/if}}
                            "><a href="/category/{{_id}}">{{name}}</a>
                             {{#if childCategories}}
                                <ul>
                                  {{#each childCategories}}
                                    <li><a href="/category/{{_id}}">{{name}}</a></li>
                                  {{/each}}
                              </ul>
                             {{/if}}
                          </li>
                    {{/each}}
									
										<li><a href="/contact">Contact</a></li>
                     <li style="position: relative;">
                       <div class="btn search-icon" onclick="toggleSearchBox()">
                         <i class="fas fa-search"></i>
                       </div>
                       <div class="search-box hide-search" id="search_box">
                          <div class="select-search">
                          <select class="form-input custom-select" id="search_type">
                            <option value="name">Title</option>
                            <option value="short_description">Short description</option>
                            <option value="content">Content</option>
                          </select>
                        </div>
                        <div class="input-field second-wrap">
                            <input class="form-input" id="search_text" type="text" placeholder="Enter Keywords?">
                          </div>
                          <div class="input-field third-wrap">
                        <button class="btn btn-search" type="button" onclick="searchPost()">
                          <i class="fas fa-search"></i>
                        </button> 
                       </div>
                        
                      </div>
                      </div>
                      </li>
									</ul>
								</nav>
								 
							</div>
							<div class="mobile-menu"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

<script>
  var tmp = {{{ json navCategories }}};
  var user = {{{json user}}}
  console.log(tmp,user);
  function searchPost(){
    var mode = $("#search_type").val()
    var text = $("#search_text").val()
    if(!text) return alertify.error('Please input something in search field!');
    var a = document.createElement('a'); 
    a.href = `${window.location.origin}/post?search=${text}&mode=${mode}`;
    a.click()
  }
</script>