<div class="col-lg-6 col-md-12 col-sm-6 blog-masonry-box">
  <div class="type-post">
    <div class="entry-cover">
      <div class="post-meta">
        <span class="byline">by <a href="#" title="{{post.creator}}">{{post.creator}}</a></span>
        <span class="post-date"><a href="#">{{post.created_at}}</a></span>
      </div>
      <a href="#"><img src="{{post.thumb}}" alt="Post" /></a>
    </div>
    <div class="entry-content">
      <div class="entry-header">	
        <span class="post-category"><a href="#" title="{{post.slug}}">{{post.slug}}</a></span>
        <h3 class="entry-title"><a href="#" title="{{post.name}}">{{post.name}}</a></h3>
      </div>								
      <p>{{post.short_description}}</p>
      <a href="#" title="Read More">Read More</a>
    </div>
  </div>
</div>