<div class="pageheader d-flex justify-content-between">
  <h3> <i class="fa fa-users" aria-hidden="true"></i> Users </h3>
  <nav aria-label="breadcrumb" class="d-flex align-items-center">
    <span class="label mr-3 mb-3">You are here:</span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
  </nav>
</div>

<!--Page content-->
<!--===================================================-->
<div id="page-content">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-5 add-user">
      <div class="panel">
        <h3>Verify users</h3>
        <div class="my-3">
          {{#each verifyUsers}}
          <div class="list-users">
            <div class="user-name">
              <p>{{email}}</p>
            </div>
            <div class="user-role" style="width: 50%;">
              <span class="mr-2">Role: </span>
              <strong>
                {{#ifCond  role '==' 'admin'}}
                      Admin
              {{/ifCond }}
              {{#ifCond  role '==' 'writer'}}
                      Writer
              {{/ifCond }}
              {{#ifCond  role '==' 'editor'}}
                      Editor
              {{/ifCond }}
              </strong>
            </div>
            <div class="btn-group mr-4 custom-btn-1" role="group" style="width: 130px;">
              <button type="button" class="btn btn-success text-white" onclick="verifyUser({{@key}})">Verify</button>
              <button type="button" class="btn btn-danger text-white" onclick="denyUser({{@key}})">Deny</button>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-7 list-users-box">
      <div class="panel">
        <h3>List User</h3>
        <div class="custom-margin1">
          {{#each users}}
          <div class="list-users">
            <img src="{{picture}}" onerror="this.src = 'https://i.imgur.com/6RUJRyM.png';" alt="" class="avatar">
            <div class="user-name">
              <p>{{email}}</p>
            </div>
            <div class="action-user">
                <button class="btn btn-edit-link {{#ifCond  role '!=' 'editor'}} hidden {{/ifCond }}" id="manager_{{_id}}" onclick="openSelectManager({{@key}})">Manager categories</button>
            </div>
            <div class="btn-group role-actions" role="group">
              <button type="button" onclick="changeRole({{@key}},'admin',this)" class="btn btn-light {{#ifCond  role '==' 'admin'}}
                      btn-active
                   {{/ifCond }}  ">Admin</button>
              <button type="button" onclick="changeRole({{@key}},'writer',this)" class="btn btn-light {{#ifCond  role '==' 'writer'}}
                      btn-active
                   {{/ifCond }}">Writer</button>
              <button type="button" onclick="changeRole({{@key}},'editor',this)" class="btn btn-light {{#ifCond  role '==' 'editor'}}
                      btn-active
                   {{/ifCond }}">Editor</button>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editCategory" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="modal-title">Phân công danh mục</h2>
        <form class="dialog-content-wrapper row" >
          <div class="input-fields custom-scrollbar col-12">
            <div class="dialog-row">
              <div>
                <div class="form-input-wrapper">
                  <div class="input-title">Chọn chuyên mục
                  </div>
                  <div class="error-box-option d-flex">
                    <select class="form-input mr-4" id="category_input">
                      <option value="">- Category -</option>
                        {{#each categories}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <button class="btn btn-edit-link btn-preview mt-1" type="button" onclick="addCategory()">Add</button>
                  </div>
                </div>
                <div class="tagchecklist d-flex mt-2">

                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="bottom-btn-group">
          <button class="btn-confirm btn" onclick="onSubmitCategory()">
              <div id="btn-confirm"><i class="fa fa-floppy-o"></i> Lưu thay đổi </div>
            </button>
            <button class="btn-cancel btn" data-dismiss="modal">Huỷ</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  let rule = "{{rule}}"
  var users = {{{json users}}};
  var categories = {{{json categories}}};
  var verifyUsers = {{{json verifyUsers}}};

  let optionCategories = JSON.parse(JSON.stringify(categories))
  var selectedUser 

  console.log('data', users, verifyUsers, categories);
  function verifyUser(index) {
    console.log('index', index)
    let posting = $.ajax({
      url: `${window.location.origin}/api/user/${verifyUsers[index]._id}`,
      type: 'PUT',
      data: { 
        isAccepted: true,
       },
       success: function(msg){
          console.log('res',msg);
          alertify.success('Success!');
          location.reload()
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
           alertify.error('Cannot verify user!');
        }
    });  

  }
  function changeRole(index,role,event){
    console.log(event)
    let posting = $.ajax({
      url: `${window.location.origin}/api/user/${users[index]._id}`,
      type: 'PUT',
      data: { 
        role
       },
       success: function(msg){
          console.log('res',msg);
          alertify.success('Success!');
          let btnGroup = document.querySelectorAll('.role-actions')[index].children
          console.log('btn',btnGroup)
          if(btnGroup){
     
            for (var i = 0; i < btnGroup.length; i++) {
              btnGroup[i].classList.remove('btn-active')
            }
            event.classList.add('btn-active')
          }
          if(role=='editor') {
            $(`#manager_${users[index]._id}`).removeClass("hidden")
          }else{
            $(`#manager_${users[index]._id}`).addClass("hidden")
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
           alertify.error('Cannot change role user!');
        }
    });
  }
  
function removeTag(id){
  let index = selectedUser.managerCategories.findIndex(tag=> tag._id == id)
  if(index > -1){
    optionCategories.push(selectedUser.managerCategories[index])
    selectedUser.managerCategories.splice(index,1)
    $(`span[value='tag-${id}']`).remove()
    updateListUI()
  }
  console.log(name,selectedUser)
}
function updateListUI(){
  $("#category_input").html("")
  let html = '<option value="">- Category -</option>'
  optionCategories.forEach(cate=>{
    html+= `<option value="${cate._id}">${cate.name}</option>`
  })
  $("#category_input").html(html)
}
function addCategory(){
  let id = $('#category_input').val()
  console.log('id',id)
  if(id){
    let index = optionCategories.findIndex(cate=> cate._id == id)
    if(index>-1) {
      $('#category_input').val('')
      if(!selectedUser.managerCategories) selectedUser.managerCategories = []
      selectedUser.managerCategories.push(optionCategories[index])
      $(".tagchecklist").append(`
        <span class="d-flex ml-2 mt-2" value="tag-${optionCategories[index]._id}">
          <div class="remove-tag-btn" onclick="removeTag('${optionCategories[index]._id}')"><i class="fa fa-times" aria-hidden="true" style="cursor: pointer;"></i></div> ${optionCategories[index].name}
        </span>
      `)
      optionCategories.splice(index,1)
      updateListUI()
    }
  }
}
  function openSelectManager(index){
    selectedUser = users[index]
    if(selectedUser.managerCategories){
        optionCategories = categories.filter(cate => {
            let check = true
            selectedUser.managerCategories.forEach(el=>{
              if(el._id == cate._id){
                check = false
              }
            })
            return check
        })
    }else{
      optionCategories = JSON.parse(JSON.stringify(categories))
    }
    
    $(".tagchecklist").html("")
    if(selectedUser.managerCategories){
      selectedUser.managerCategories.forEach(cate=>{
        $(".tagchecklist").append(`
        <span class="d-flex ml-2 mt-2" value="tag-${cate._id}">
          <div class="remove-tag-btn" onclick="removeTag('${cate._id}')"><i class="fa fa-times" aria-hidden="true" style="cursor: pointer;"></i></div> ${cate.name}
        </span>
        `)
      })
    }
    updateListUI()
    $('#editCategory').modal('show')
  }
  function onSubmitCategory(){
    let data = {}
    if(selectedUser.managerCategories) {
      data.managerCategories = JSON.stringify(selectedUser.managerCategories.map(cate=>cate._id))
    }else{
      data.managerCategories = []
    }
    console.log('data',data)
    let posting = $.ajax({
      url: `${window.location.origin}/api/user/${selectedUser._id}`,
      type: 'PUT',
      data: data,
       success: function(msg){
          console.log('res',msg);
          alertify.success('Success!');
          location.reload()
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
           alertify.error('Cannot edit user!');
        }
    });
  }
</script> 